@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  
  h1 span {
    font-weight: 400;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  
.kumpulan-kontak {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.card {
    padding: 20px;

    .profile {
        padding-bottom: 12px;
    }
}