@import "tailwindcss";

  body {
    font-family: sans-serif;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  
.kumpulan-kontak {
    display: flex;
    flex-direction: column;
    gap: 38px;
}