* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  
  h1 span {
    font-weight: 400;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  
.kumpulan-kontak {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px #EFEFEF solid;
    box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100);
    padding: 20px;
    border-radius: 8px;
    gap: 16px;

    .profile {
        display: flex;
        gap: 16px;
        align-items: center;
        border-bottom: 1px #D3D3D3 solid;
        padding-bottom: 12px;

        p {
            font-weight: 500;
            font-size: 20px;
        }

        img {
            width: 64px;
            border-radius: 100%;
        }
    }

    .desc {
        display: flex;
        gap: 48px;

        .almt {
            display: flex;
            gap: 12px;
            align-items: center;

            img {
                width: 16px;
            }
        }

        .wa {
            display: flex;
            gap: 12px;
            
        }
    }
}